<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <title>Examination System</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/image/favicon-32x32.png">
</head>


<style>
  .jumbotron{
    margin-bottom: 0px;
    display: flex;
    height: 100vh;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Online Examination System</h2>
    <p class="display-4 d-none d-sm-block">Attend your examinations online!</p>
    <p class="lead">Sign Up now to start your first online examination</p>

  
    <p><strong> Start Your Journey Here:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up as Student</a>
    
    
  </div>  
</section>
  


</body>

</html>
