{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/image/favicon-32x32.png">
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->

<h2 class="text-center">Logged Out Successfully. <br> Thank you for using our system!</h2>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>
{% include "exam/footer.html" %}

  </body>
</html>
